[data-md-color-scheme="milk-cr8"] {
    --md-primary-fg-color:        #ed1c24;
    --md-primary-fg-color--light: #ECB7B7;
    --md-primary-fg-color--dark:  #90030C;
  }
.md-header-nav__button.md-logo {
  margin: 0;
  padding: 0;
}